:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --icon-color: #df49a6;
  --nav-height: 60px;
  --header-height: 60px;
  --nav-side-width: 70px;
  font-size: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-primary);
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}

::-webkit-scrollbar-thumb {
  background: #6649b8;
}
